input::-webkit-input-placeholder { color:#d1b97f; }
input:-moz-placeholder { color:#d1b97f; }
input::-moz-placeholder { color:#d1b97f; }
input:-ms-input-placeholder { color:#d1b97f; }
img { display: block; }
.header { background-color: #eb6120; }
.header h1 { color: #fff; }
.header a { color: #fff; }
.login_banner { background: #97cbd4; padding: .75rem 0 0; position: relative; }
.login_banner img { width: 100%; display: block; margin: 0 auto; }
.login_banner img.logo { width: 5.65rem; display: block; margin: 0 0 0 1.0rem; }
.login_banner img.women { width: 6.7rem; display: block; margin: 0; }
.question { background-color: #fff; width: 100%; padding: 0 .9rem; box-sizing: border-box; }
.question h1 { font-size: 1.0rem; color: #5c5d5d; font-weight: bold; text-align: center; }
.question h1 span { color: #eb6120; }
.question ul li { float: left; width: 24%; margin: 0 0.5%; }
.question ul li img { width: 100%; }
.question ul li p { text-align: center; font-size: .5rem; color: #5c5d5d; }
.ad { margin-top: .6rem; }
.inset { margin-top: .175rem; }
.inset li { float: left; width: 32%; margin-left: 2%; }
.inset li:first-child { margin-left: 0; }
.inset li .desc { width: 100%; background: #fff; padding: .05rem; box-sizing: border-box; position: relative; top: -0.35rem; }
.inset li .desc dl { width: 100%; }
.inset li dt { float: left; width: .7rem; height: .7rem; text-align: center; line-height: .7rem; background: #eb611e; font-size: .6rem; color: #fff; }
.inset li dd { width: 87%; height: .7rem; line-height: .7rem; background: #5c5d5d; font-size: .6rem; color: #fff; margin-left: .8rem; text-indent: .1rem; }
.map { position: relative; }
.map .map-more { width: 4.4rem; height: .9rem; text-align: center; line-height: .9rem; border-radius: .9rem; background: #7d7d7d; font-size: .6rem; color: #fff; position: absolute; right: .6rem; top: .6rem; }
.map .map-more a { display: block; color: #fff; }
.phone-box { background: #fff; padding: .5rem 1.0rem 2.0rem; width: 100%; box-sizing: border-box; }
.phone-box .phone { width: 100%; height: 1.6rem; line-height: 1.6rem; border-radius: 1.6rem; background: #eaeae9; font-size: 1.0rem; color: #ea611f; text-align: center; font-weight: 600; }
.phone-box form { padding-top: .6rem; }
.phone-box dl { width: 100%; height: 1.6rem; line-height: 1.6rem; border-radius: 1.6rem; background: #eaeae9; overflow: hidden; margin-top: .5rem; }
.phone-box dl dt { float: left; width: 20%; height: 100%; background: #dcdcdc; text-align: center; font-size: .6rem; color: #727070; }
.phone-box dl dd { margin-left: 20%; width: 80%; height: 100%; background: transparent; }
.phone-box dl dd input[type="text"] { width: 100%; height: 100%; border: none; outline: none; text-indent: .1rem; }
.phone-box form input[type="button"] { display: block; width: 10rem; height: 1.4rem; text-align: center; line-height: 1.4rem; border-radius: 1.4rem; background: #eb6120; font-size: 1.0rem; font-weight: 600; color: #fff; border: none; outline: none; margin: .9rem auto 0; }



